
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <title>Login</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        input.form-control {
            max-width: none;
        }

        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Đăng nhập</h2>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="Email">Email</label>
                                    <input type="email" id="Email" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="Password">Password</label>
                                    <input type="password" id="Password" class="form-control form-control-lg" />
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" onclick="login()">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script>
    function login() {
        const Email = document.getElementById('Email').value;
        const Password = document.getElementById('Password').value;

        $.ajax({
            url: '@Url.Action("LoginAdmin", "LoginAdmin")',
            type: 'POST',
            data: {
                Email: Email,
                Password: Password,
            },
            success: function(response) {
                if (response.success) {
                    window.location.href = '@Url.Action("Index", "Admin")';
                    alert('Login Thành công.');

                    // Code để cập nhật danh sách khóa học sau khi thêm thành công
                } else {
                    alert('Có lỗi xảy ra khi thêm khóa học.');
                }
            },
            error: function() {
                alert('Có lỗi xảy ra khi kết nối với server.');
            }
        });
    }

</script>