<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Admin CMS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            left: 0;
            background-color: #343a40;
            color: white;
            padding-top: 20px;
        }

            .sidebar a {
                padding: 15px;
                text-align: left;
                display: block;
                color: white;
                text-decoration: none;
            }

                .sidebar a:hover {
                    background-color: #495057;
                }

        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="sidebar">
        <div>

        <h3 class="text-center">CMS</h3>
        <a href="@Url.Action("Index")">Trang chủ</a>
        <a href="@Url.Action("Index", "Course")">Quản lý khoá học</a>
        <a href="@Url.Action("Index", "Lecture")">Quản lý bài giảng</a>
        <a href="@Url.Action("Index", "User")">Quản lý người dùng</a>
        </div>
        <div>
            <p>@HttpContext.Current.Session["User"]</p>
            <p>@Html.ActionLink("Đăng xuất", "Logout", "LoginAdmin")</p>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
